<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aybek Words</title>
	<link rel='stylesheet' type='text/css' media='screen and (max-width:375px)' href='{{url_for('static', filename='under375.css')}}'>
	<link rel='stylesheet' media='screen and (min-width:376px)' href='{{url_for('static', filename='over375.css')}}'>
</head>
<body>
	<div class='contain'>
		<div class='left'>Aybek Words</div>
		<div class='right'><a href='{{url_for('home')}}'>Home</a></div>
	</div>

	<div class='contain-about'>
		<p>This quick web application is built and designed for Aybek to keep track of English words he learns every day.</p>
		<p>If you learn just 10 new words every day, you will learn 3,650 words after a year!</p>
	</div>
</body>
</html>