<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aybek Words</title>
	<link rel='stylesheet' type='text/css' media='screen and (max-width:375px)' href='{{url_for('static', filename='under375.css')}}'>
	<link rel='stylesheet' media='screen and (min-width:376px)' href='{{url_for('static', filename='over375.css')}}'>
</head>
<body>
	<div class='contain-top'>
		<div class='left'>Aybek Words</div>
		<div class='right'><a href='{{url_for('allWords')}}'>Vocab</a></div>
	</div>
	
	<form method='POST' action ='.'>
		<label for='word'>Word</label>
		<input type='text' name='word' class='form-control' value='{{word}}'><br>
		<label for='definition'>Definition</label>
		<input type='text' name='definition' class='form-control' value='{{definition}}'><br>
		<button type='submit' class='button save-delete'>Update</button>
	</form>
	
	<a href='{{url_for('deleteWord',word_id=word_id)}}' class='button'>Delete</a>
</body>
</html>